RewriteEngine On
RewriteRule ^Movie/([0-9]+)/?$ movie.php?id=$1
RewriteRule ^popular/([0-9]+)/?$ mostwatched.php?page=$1
RewriteRule ^genre/([0-9]+)/([0-9]+)/?$ genre.php?genre=$1&page=$2
RewriteRule ^year/([0-9]+)/([0-9]+)/?$ year.php?year=$1&page=$2
RewriteRule ^upcoming/([0-9]+)/?$ upcoming.php?page=$1

# COMPRESION DE ARCHIVOS
<FilesMatch "\.(js|css|ico|pdf|jpg|jpeg|png|gif|php)$">
SetOutputFilter DEFLATE
Header set Cache-Control "public"
</FilesMatch>

AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent